---
import { Image } from "astro:assets";
import trustpilot from "../assets/images/trustpilot.svg";
const { url = "#", name = "", date = "", anmeldelse = "" } = Astro.props;
---

<section class="bg-brown-100 rounded-border_radius-43 p-ml max-w-[26.563rem]">
  <a href={url}>
    <div class="flex justify-between mb-xs">
      <p class="font-sans text-p font-bold">{name}</p>
      <p class="font-sans text-p font-bold">{date}</p>
    </div>
    <div class="flex mb-m">
      <Image src={trustpilot} alt="Trustpilotstjerne" />
      <Image src={trustpilot} alt="Trustpilotstjerne" />
      <Image src={trustpilot} alt="Trustpilotstjerne" />
      <Image src={trustpilot} alt="Trustpilotstjerne" />
      <Image src={trustpilot} alt="Trustpilotstjerne" />
    </div>
    <p class="font-sans text-p font-regular">{anmeldelse}</p>
  </a>
</section>
